@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);


html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #1F3944;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-paperplane {
  font-size: 1em;
  color: white;
  margin-left: 1px;
  margin-top: 5px;
}

.contact-button {
  position: relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  border: 2px solid white;
  border-radius: 4px;
  padding: 20px 60px 20px 55px;
  transition: 0.3s ease-in-out;
}
.contact-button span {
  text-transform: none;
  position: absolute;
  color: #EE983E;
  top: 20px;
  left: 60px;
  opacity: 0;
  transition: all 0s ease 0s;
}
.contact-button:hover {
  transition: 0.3s ease-in-out;
  border: 2px solid white;
  border-radius: 50px;
  background-color: white;
}
.contact-button:hover > span {
  opacity: 1;
  transition: all 0.25s ease-in-out 0.1s;
}
.contact-button:hover:before {
  transition: 0.3s ease-in-out;
  background-color: #EE983E;
}
.contact-button:before, .contact-button:after {
  content: "";
  position: absolute;
  top: -14px;
  left: -12px;
  width: 148px;
  height: 25px;
}
.contact-button:before {
  border: 2px solid #EE983E;
  background-color: #1F3944;
  transform: skew(-25deg);
  transition: 0.3s ease-in-out;
}
.contact-button:after {
  content: "meldesich @ pm.me";
  font-size: 0.45em;
  top: -7px;
  left: 0px;
  color: white;
}

.inspiration {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #47829c;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1em;
}

.hf {
  position: relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  border: 2px solid white;
  border-radius: 4px;
  padding: 20px 60px 20px 55px;
  transition: 0.3s ease-in-out;
}
.hf span {
  text-align: right;
  text-transform: none;
  position: absolute;
  color: #EE983E;
  top: 20px;
  left: 60px;
  opacity: 0;
  transition: all 0s ease 0s;
}
.hf:hover {
  transition: 0.3s ease-in-out;
  border: 2px solid white;
  border-radius: 50px;
  background-color: white;
}
.hf:hover > span {
  opacity: 1;
  transition: all 0.25s ease-in-out 0.1s;
}
.hf:hover:before {
  transition: 0.3s ease-in-out;
  background-color: #EE983E;
}
.hf:before, .hf:after {
  content: "";
  position: absolute;
  top: -14px;
  left: -12px;
  width: 152px;
  height: 25px;
}
.hf:before {
  border: 2px solid #EE983E;
  background-color: #1F3944;
  transform: skew(-25deg);
  transition: 0.3s ease-in-out;
}
.hf:after {
  content: "University of Idaho";
  font-size: 0.45em;
  top: -7px;
  left: 0px;
  color: white;
}
.hf1 {
  position: relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  border: 2px solid white;
  border-radius: 4px;
  padding: 20px 60px 20px 55px;
  transition: 0.3s ease-in-out;
}
.hf1 span {
  text-align: right;
  text-transform: none;
  position: absolute;
  color: #EE983E;
  top: 20px;
  left: 60px;
  opacity: 0;
  transition: all 0s ease 0s;
}
.hf1:hover {
  transition: 0.3s ease-in-out;
  border: 2px solid white;
  border-radius: 50px;
  background-color: white;
}
.hf1:hover > span {
  opacity: 1;
  transition: all 0.25s ease-in-out 0.1s;
}
.hf1:hover:before {
  transition: 0.3s ease-in-out;
  background-color: #EE983E;
}
.hf1:before, .hf1:after {
  content: "";
  position: absolute;
  top: -14px;
  left: -12px;
  width: 152px;
  height: 25px;
}
.hf1:before {
  border: 2px solid #EE983E;
  background-color: #1F3944;
  transform: skew(-25deg);
  transition: 0.3s ease-in-out;
}
.hf1:after {
  content: "Engineering Psychology";
  font-size: 0.45em;
  top: -7px;
  left: 0px;
  color: white;
}

.hf2 {
  position: relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  border: 2px solid white;
  border-radius: 4px;
  padding: 20px 60px 20px 55px;
  transition: 0.3s ease-in-out;
}
.hf2 span {
  text-align: right;
  text-transform: none;
  position: absolute;
  color: #EE983E;
  top: 20px;
  left: 60px;
  opacity: 0;
  transition: all 0s ease 0s;
}
.hf2:hover {
  transition: 0.3s ease-in-out;
  border: 2px solid white;
  border-radius: 50px;
  background-color: white;
}
.hf2:hover > span {
  opacity: 1;
  transition: all 0.25s ease-in-out 0.1s;
}
.hf2:hover:before {
  transition: 0.3s ease-in-out;
  background-color: #EE983E;
}
.hf2:before, .hf2:after {
  content: "";
  position: absolute;
  top: -14px;
  left: -12px;
  width: 180px;
  height: 25px;
}
.hf2:before {
  border: 2px solid #EE983E;
  background-color: #1F3944;
  transform: skew(-25deg);
  transition: 0.3s ease-in-out;
}
.hf2:after {
  content: "Cognitive Neuroscience";
  font-size: 0.45em;
  top: -7px;
  left: 0px;
  color: white;
}

.thesis {
  position: relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  border: 2px solid white;
  border-radius: 4px;
  padding: 20px 60px 20px 55px;
  transition: 0.3s ease-in-out;
}
.thesis span {
  text-transform: none;
  position: absolute;
  color: #EE983E;
  top: 20px;
  left: 60px;
  opacity: 0;
  transition: all 0s ease 0s;
}
.thesis:hover {
  transition: 0.3s ease-in-out;
  border: 2px solid white;
  border-radius: 50px;
  background-color: white;
}
.thesis:hover > span {
  opacity: 1;
  transition: all 0.25s ease-in-out 0.1s;
}
.thesis:hover:before {
  transition: 0.3s ease-in-out;
  background-color: #EE983E;
}
.thesis:before, .thesis:after {
  content: "";
  position: absolute;
  top: -14px;
  left: -12px;
  width: 174px;
  height: 25px;
}
.thesis:before {
  border: 2px solid #EE983E;
  background-color: #1F3944;
  transform: skew(-25deg);
  transition: 0.3s ease-in-out;
}
.thesis:after {
  content: "architecture Master thesis";
  font-size: 0.45em;
  top: -7px;
  left: 0px;
  color: white;
}

.decen {
  position: relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  border: 2px solid white;
  border-radius: 4px;
  padding: 20px 60px 20px 55px;
  transition: 0.3s ease-in-out;
}
.decen span {
  text-align: right;
  text-transform: none;
  position: absolute;
  color: #EE983E;
  top: 20px;
  left: 60px;
  opacity: 0;
  transition: all 0s ease 0s;
}
.decen:hover {
  transition: 0.3s ease-in-out;
  border: 2px solid white;
  border-radius: 50px;
  background-color: white;
}
.decen:hover > span {
  opacity: 1;
  transition: all 0.25s ease-in-out 0.1s;
}
.decen:hover:before {
  transition: 0.3s ease-in-out;
  background-color: #EE983E;
}
.decen:before, .decen:after {
  content: "";
  position: absolute;
  top: -14px;
  left: -12px;
  width: 152px;
  height: 25px;
}
.decen:before {
  border: 2px solid #EE983E;
  background-color: #1F3944;
  transform: skew(-25deg);
  transition: 0.3s ease-in-out;
}
.decen:after {
  content: "Economic Philosophy";
  font-size: 0.45em;
  top: -7px;
  left: 0px;
  color: white;

}

.dev {
  position: relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  border: 2px solid white;
  border-radius: 4px;
  padding: 20px 60px 20px 55px;
  transition: 0.3s ease-in-out;
}
.dev span {
  text-align: right;
  text-transform: none;
  position: absolute;
  color: #EE983E;
  top: 20px;
  left: 60px;
  opacity: 0;
  transition: all 0s ease 0s;
}
.dev:hover {
  transition: 0.3s ease-in-out;
  border: 2px solid white;
  border-radius: 50px;
  background-color: white;
}
.dev:hover > span {
  opacity: 1;
  transition: all 0.25s ease-in-out 0.1s;
}
.dev:hover:before {
  transition: 0.3s ease-in-out;
  background-color: #EE983E;
}
.dev:before, .dev:after {
  content: "";
  position: absolute;
  top: -14px;
  left: -12px;
  width: 152px;
  height: 25px;
}
.dev:before {
  border: 2px solid #EE983E;
  background-color: #1F3944;
  transform: skew(-25deg);
  transition: 0.3s ease-in-out;
}
.dev:after {
  content: "Tools / Experiments";
  font-size: 0.45em;
  top: -7px;
  left: 0px;
  color: white;
}


.dev1 {
  position: relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  border: 2px solid white;
  border-radius: 4px;
  padding: 20px 60px 20px 55px;
  transition: 0.3s ease-in-out;
}
.dev1 span {
  text-align: right;
  text-transform: none;
  position: absolute;
  color: #EE983E;
  top: 20px;
  left: 60px;
  opacity: 0;
  transition: all 0s ease 0s;
}
.dev1:hover {
  transition: 0.3s ease-in-out;
  border: 2px solid white;
  border-radius: 50px;
  background-color: white;
}
.dev1:hover > span {
  opacity: 1;
  transition: all 0.25s ease-in-out 0.1s;
}
.dev1:hover:before {
  transition: 0.3s ease-in-out;
  background-color: #EE983E;
}
.dev1:before, .dev1:after {
  content: "";
  position: absolute;
  top: -14px;
  left: -12px;
  width: 152px;
  height: 25px;
}
.dev1:before {
  border: 2px solid #EE983E;
  background-color: #1F3944;
  transform: skew(-25deg);
  transition: 0.3s ease-in-out;
}
.dev1:after {
  content: "PGP with Python";
  font-size: 0.45em;
  top: -7px;
  left: 0px;
  color: white;
}


.d1 {
  position: relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  border: 2px solid white;
  border-radius: 4px;
  padding: 20px 60px 20px 55px;
  transition: 0.3s ease-in-out;
}
.d1 span {
  text-align: right;
  text-transform: none;
  position: absolute;
  color: #EE983E;
  top: 20px;
  left: 60px;
  opacity: 0;
  transition: all 0s ease 0s;
}
.d1:hover {
  transition: 0.3s ease-in-out;
  border: 2px solid white;
  border-radius: 50px;
  background-color: white;
}
.d1:hover > span {
  opacity: 1;
  transition: all 0.25s ease-in-out 0.1s;
}
.d1:hover:before {
  transition: 0.3s ease-in-out;
  background-color: #EE983E;
}
.d1:before, .d1:after {
  content: "";
  position: absolute;
  top: -14px;
  left: -12px;
  width: 152px;
  height: 25px;
}
.d1:before {
  border: 2px solid #EE983E;
  background-color: #1F3944;
  transform: skew(-25deg);
  transition: 0.3s ease-in-out;
}
.d1:after {
  content: "Philosophical Overview";
  font-size: 0.45em;
  top: -7px;
  left: 0px;
  color: white;
}


.d2 {
  position: relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  border: 2px solid white;
  border-radius: 4px;
  padding: 20px 60px 20px 55px;
  transition: 0.3s ease-in-out;
}
.d2 span {
  text-align: right;
  text-transform: none;
  position: absolute;
  color: #EE983E;
  top: 20px;
  left: 60px;
  opacity: 0;
  transition: all 0s ease 0s;
}
.d2:hover {
  transition: 0.3s ease-in-out;
  border: 2px solid white;
  border-radius: 50px;
  background-color: white;
}
.d2:hover > span {
  opacity: 1;
  transition: all 0.25s ease-in-out 0.1s;
}
.d2:hover:before {
  transition: 0.3s ease-in-out;
  background-color: #EE983E;
}
.d2:before, .d2:after {
  content: "";
  position: absolute;
  top: -14px;
  left: -12px;
  width: 152px;
  height: 25px;
}
.d2:before {
  border: 2px solid #EE983E;
  background-color: #1F3944;
  transform: skew(-25deg);
  transition: 0.3s ease-in-out;
}
.d2:after {
  content: "Technical Overview";
  font-size: 0.45em;
  top: -7px;
  left: 0px;
  color: white;
}
